<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FileExtensionsToBeRemoved" value=".txt,.nfo,.jpg,.png,.bmp,.md,.doc,.docx,.jpeg,.gif" />
  </appSettings>
</configuration>